<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>E7 Draft Assisster</h1>
    <div id="dropdowns">
        <div class="dropdown-column">
            
                {% for i in range(1, 6) %}
                    <img class="portraitsMy" id="myImg{{ i }}" src="">
                {% endfor %}

        </div>
        <div class="dropdown-column">

            <div class="dropdown-menu">
                {% for i in range(1, 6) %}
                    <form>
                        <select class="selectMy" id="myPick{{ i }}" name="myPick{{ i }}">
                            <option value="">Draft a Hero </option>
                            {% for option in hero_list %}
                                <option value="{{ option['code'] }}">{{ option["name"] }}</option>
                            {% endfor %}
                        </select>
                    </form>
                {% endfor %}
            </div>
        </div>

        <div class="dropdown-column">
            
      
            <img class="asset" src="{{ url_for('get_vs') }}" alt="Example Image">


        </div>

        
        <div class="dropdown-column">
            <div class="dropdown-menu">
                {% for i in range(1, 6) %}
                    <form>
                        <select class="selectEn" id="enPick{{ i }}" name="en{{ i }}">
                            <option value="">Draft a Hero </option>
                            {% for option in hero_list %}
                                <option value="{{ option['code'] }}">{{ option["name"] }}</option>
                            {% endfor %}
                        </select>
                    </form>
                {% endfor %}
            </div>
        </div>

        <div class="dropdown-column">
            
            {% for i in range(1, 6) %}
                <img class="portraitsEn" id="enImg{{ i }}" src="">
            {% endfor %}

    </div>
    </div>

    <script>
        for (let i = 1; i <= 5; i++) {
            let dropdown = document.getElementById('myPick' + i);
            let image = document.getElementById('myImg' + i); 

            dropdown.addEventListener('change', function(event) {
                image.src = "https://static.smilegatemegaport.com/event/live/epic7/guide/images/hero/" + event.target.value + "_s.png";
            });
        }

        for (let i = 1; i <= 5; i++) {
            let dropdown = document.getElementById('enPick' + i);
            let image = document.getElementById('enImg' + i); 

            dropdown.addEventListener('change', function(event) {
                image.src = "https://static.smilegatemegaport.com/event/live/epic7/guide/images/hero/" + event.target.value + "_s.png";
            });
        }
    </script>
</body>
</html>
